In [1]:
import pandas as pd
import pickle as pkl
import pyarrow.feather as feather
from pandas.tseries.offsets import *

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [11]:
with open('/content/drive/MyDrive/summer project/data/chars_a_60.feather', 'rb') as f:
    chars_a = feather.read_feather(f)

chars_a = chars_a.dropna(subset=['permno'])
chars_a[['permno', 'gvkey']] = chars_a[['permno', 'gvkey']].astype(int)
chars_a['jdate'] = pd.to_datetime(chars_a['jdate'])
chars_a = chars_a.drop_duplicates(['permno', 'jdate'])

In [12]:
with open('/content/drive/MyDrive/summer project/data/beta.feather', 'rb') as f:
    beta = feather.read_feather(f)

beta['permno'] = beta['permno'].astype(int)
beta['jdate'] = pd.to_datetime(beta['date']) + MonthEnd(0)
beta = beta[['permno', 'jdate', 'beta']]
beta = beta.drop_duplicates(['permno', 'jdate'])

chars_a = pd.merge(chars_a, beta, how='left', on=['permno', 'jdate'])

In [13]:
with open('/content/drive/MyDrive/summer project/data/rvar_capm.feather', 'rb') as f:
    rvar_capm = feather.read_feather(f)

rvar_capm['permno'] = rvar_capm['permno'].astype(int)
rvar_capm['jdate'] = pd.to_datetime(rvar_capm['date']) + MonthEnd(0)
rvar_capm = rvar_capm[['permno', 'jdate', 'rvar_capm']]
rvar_capm = rvar_capm.drop_duplicates(['permno', 'jdate'])

chars_a = pd.merge(chars_a, rvar_capm, how='left', on=['permno', 'jdate'])

In [14]:
with open('/content/drive/MyDrive/summer project/data/rvar_mean.feather', 'rb') as f:
    rvar_mean = feather.read_feather(f)

rvar_mean['permno'] = rvar_mean['permno'].astype(int)
rvar_mean['jdate'] = pd.to_datetime(rvar_mean['date']) + MonthEnd(0)
rvar_mean = rvar_mean[['permno', 'jdate', 'rvar_mean']]
rvar_mean = rvar_mean.drop_duplicates(['permno', 'jdate'])

chars_a = pd.merge(chars_a, rvar_mean, how='left', on=['permno', 'jdate'])

In [15]:
with open('/content/drive/MyDrive/summer project/data/rvar_ff3.feather', 'rb') as f:
    rvar_ff3 = feather.read_feather(f)

rvar_ff3['permno'] = rvar_ff3['permno'].astype(int)
rvar_ff3['jdate'] = pd.to_datetime(rvar_ff3['date']) + MonthEnd(0)
rvar_ff3 = rvar_ff3[['permno', 'jdate', 'rvar_ff3']]
rvar_ff3 = rvar_ff3.drop_duplicates(['permno', 'jdate'])

chars_a = pd.merge(chars_a, rvar_ff3, how='left', on=['permno', 'jdate'])

In [16]:
with open('/content/drive/MyDrive/summer project/data/sue.feather', 'rb') as f:
    sue = feather.read_feather(f)

sue['permno'] = sue['permno'].astype(int)
sue['jdate'] = pd.to_datetime(sue['date']) + MonthEnd(0)
sue = sue[['permno', 'jdate', 'sue']]
sue = sue.drop_duplicates(['permno', 'jdate'])

chars_a = pd.merge(chars_a, sue, how='left', on=['permno', 'jdate'])

In [18]:
with open('/content/drive/MyDrive/summer project/data/myre.feather', 'rb') as f:
    re = feather.read_feather(f)

re['permno'] = re['permno'].astype(int)
re['jdate'] = pd.to_datetime(re['date']) + MonthEnd(0)
re = re[['permno', 'jdate', 're']]
re = re.drop_duplicates(['permno', 'jdate'])

chars_a = pd.merge(chars_a, re, how='left', on=['permno', 'jdate'])

In [19]:
with open('/content/drive/MyDrive/summer project/data/abr.feather', 'rb') as f:
    abr = feather.read_feather(f)

abr['permno'] = abr['permno'].astype(int)
abr['jdate'] = pd.to_datetime(abr['date']) + MonthEnd(0)
abr = abr[['permno', 'jdate', 'abr']]
abr = abr.drop_duplicates(['permno', 'jdate'])

chars_a = pd.merge(chars_a, abr, how='left', on=['permno', 'jdate'])

In [20]:
with open('/content/drive/MyDrive/summer project/data/baspread.feather', 'rb') as f:
    baspread = feather.read_feather(f)

baspread['permno'] = baspread['permno'].astype(int)
baspread['jdate'] = pd.to_datetime(baspread['date']) + MonthEnd(0)
baspread = baspread[['permno', 'jdate', 'baspread']]
baspread = baspread.drop_duplicates(['permno', 'jdate'])

chars_a = pd.merge(chars_a, baspread, how='left', on=['permno', 'jdate'])

In [21]:
with open('/content/drive/MyDrive/summer project/data/maxret.feather', 'rb') as f:
    maxret = feather.read_feather(f)

maxret['permno'] = maxret['permno'].astype(int)
maxret['jdate'] = pd.to_datetime(maxret['date']) + MonthEnd(0)
maxret = maxret[['permno', 'jdate', 'maxret']]
maxret = maxret.drop_duplicates(['permno', 'jdate'])

chars_a = pd.merge(chars_a, maxret, how='left', on=['permno', 'jdate'])

In [22]:
with open('/content/drive/MyDrive/summer project/data/std_dolvol.feather', 'rb') as f:
    std_dolvol = feather.read_feather(f)

std_dolvol['permno'] = std_dolvol['permno'].astype(int)
std_dolvol['jdate'] = pd.to_datetime(std_dolvol['date']) + MonthEnd(0)
std_dolvol = std_dolvol[['permno', 'jdate', 'std_dolvol']]
std_dolvol = std_dolvol.drop_duplicates(['permno', 'jdate'])

chars_a = pd.merge(chars_a, std_dolvol, how='left', on=['permno', 'jdate'])

In [23]:
with open('/content/drive/MyDrive/summer project/data/ill.feather', 'rb') as f:
    ill = feather.read_feather(f)

ill['permno'] = ill['permno'].astype(int)
ill['jdate'] = pd.to_datetime(ill['date']) + MonthEnd(0)
ill = ill[['permno', 'jdate', 'ill']]
ill = ill.drop_duplicates(['permno', 'jdate'])

chars_a = pd.merge(chars_a, ill, how='left', on=['permno', 'jdate'])

In [24]:
with open('/content/drive/MyDrive/summer project/data/std_turn.feather', 'rb') as f:
    std_turn = feather.read_feather(f)

std_turn['permno'] = std_turn['permno'].astype(int)
std_turn['jdate'] = pd.to_datetime(std_turn['date']) + MonthEnd(0)
std_turn = std_turn[['permno', 'jdate', 'std_turn']]
std_turn = std_turn.drop_duplicates(['permno', 'jdate'])

chars_a = pd.merge(chars_a, std_turn, how='left', on=['permno', 'jdate'])

In [25]:
with open('/content/drive/MyDrive/summer project/data/zerotrade.feather', 'rb') as f:
    zerotrade = feather.read_feather(f)

zerotrade['permno'] = zerotrade['permno'].astype(int)
zerotrade['jdate'] = pd.to_datetime(zerotrade['date']) + MonthEnd(0)
zerotrade = zerotrade[['permno', 'jdate', 'zerotrade']]
zerotrade = zerotrade.drop_duplicates(['permno', 'jdate'])

chars_a = pd.merge(chars_a, zerotrade, how='left', on=['permno', 'jdate'])

In [26]:
# save data
with open('/content/drive/MyDrive/summer project/chars_a_raw.feather', 'wb') as f:
    feather.write_feather(chars_a, f)

In [29]:
feather.read_feather('/content/drive/MyDrive/summer project/chars_a_raw.feather')

,cusip,ncusip,gvkey,permno,exchcd,shrcd,datadate,jdate,sic,ret,...,rvar_ff3,sue,re,abr,baspread,maxret,std_dolvol,ill,std_turn,zerotrade
0,00099V004,None,1010,10006,1.0,10.0,1960-04-30,1960-08-31,3743.0,-0.021918,...,0.000278,NaN,NaN,NaN,0.010940,0.071429,0.660462,0.323837,0.429433,1.908846e-06
1,00099V004,None,1010,10006,1.0,10.0,1960-04-30,1960-09-30,3743.0,-0.142045,...,0.000195,NaN,NaN,NaN,0.022698,0.039548,0.656303,0.273090,0.383289,3.728215e-07
2,00099V004,None,1010,10006,1.0,10.0,1960-04-30,1960-10-31,3743.0,-0.013245,...,0.000123,NaN,NaN,NaN,0.018121,0.038889,0.700322,0.319486,0.489524,4.338287e-07
3,00099V004,None,1010,10006,1.0,10.0,1960-04-30,1960-11-30,3743.0,0.003356,...,0.000146,NaN,NaN,NaN,0.016118,0.046053,0.596731,0.367910,0.464682,8.338374e-07
4,00099V004,None,1010,10006,1.0,10.0,1960-04-30,1960-12-31,3743.0,0.034014,...,0.000170,NaN,NaN,NaN,0.016706,0.046053,0.526399,0.489601,0.569618,3.711171e-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
552753,88160R101,88160R10,184996,93436,3.0,11.0,2020-12-31,2021-11-30,3711.0,0.027612,...,0.000890,3.507553,0.000292,0.042324,0.054631,0.126616,0.545732,734.972145,11.873141,2.590574e-08
552754,88160R101,88160R10,184996,93436,3.0,11.0,2020-12-31,2021-12-31,3711.0,-0.076855,...,0.001048,3.507553,0.000314,0.042324,0.027292,0.126616,0.453327,873.907726,11.291636,5.221829e-08
552755,88160R101,88160R10,184996,93436,3.0,11.0,2020-12-31,2022-01-31,3711.0,-0.113609,...,0.001353,3.485318,NaN,-0.105761,0.072333,0.135317,0.323307,1104.697127,9.374909,2.074618e-08
552756,88160R101,88160R10,184996,93436,3.0,11.0,2020-12-31,2022-02-28,3711.0,-0.070768,...,0.000959,3.485318,NaN,-0.105761,0.063844,0.135317,0.276974,1053.920821,7.508027,2.360583e-08
552757,88160R101,88160R10,184996,93436,3.0,11.0,2020-12-31,2022-03-31,3711.0,0.238009,...,0.000972,3.485318,NaN,-0.105761,0.028353,0.135317,0.285976,1100.344397,7.346358,4.489595e-08